* {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}


section > ul > li {
    letter-spacing: 10px;
}


#external{
    color: yellow;
}

h1{
    font-size: 3rem;
}

#sub-headerh2{
    text-transform: uppercase;

}

.text-green{
    background-color: rgb(196, 224, 196);
}

.border-blue{
    border:2px solid rgb(140, 183, 240)
}

section img{
    height:20vh;
    width:20vh;
    border-radius: 100px;

}

img+ul{
    list-style-type: none;
   
}


#lastp{
  text-indent: 150px;
}
